.gridContainer {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 100px 100px;
}

.griditem {
  background-color: rgb(255, 153, 0);
  border: 1px solid;
  color: rgb(255, 0, 0);
  padding: 30px 40px;
}
