.gridContainer {
  border: 1px solid red;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 200px);
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  align-content: center;
  row-gap: 50px;
}

.griditem {
  background-color: rgb(240, 255, 28);
  border: 1px solid;
  color: rgb(255, 0, 0);
  padding: 30px 40px;
  text-align: center;
}
